.container {
    width: 980px;
    box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.2), 0 6px 20px 0 rgba(50, 50, 50, 0.19);
}
.content {
  display: flex;
  flex-direction:column;
  height: 90vh;
  justify-content:center;
  align-items:center;
  font-family: Inter;
  font-weight: normal !important;
}
.plyr {
  border-radius: 5px;
}
.plyr__caption {
  background: rgba(60,60,60,.6) !important;
  border-radius: 5px;
}

b {
  font-family: Inter;
  font-weight: 400 !important;
}

video {
	width: 100%;
  box-shadow: 10px 10px 10px white;
}

body {
  background: #111;
  text-color: white;
}